*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1440px;
    margin: 0 auto;
    
}
.container{
    width: 1440px;
    height: 960px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(./bg01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 70px;
    position: relative;
}
#clock{
    width: 440px;
    height: 200px;
    padding: 10px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0);
    position: absolute;
    top: 400px;
    left: 580px;
}
#date-time{
    font-size: 35px;
    margin-top: 20px;
    position: absolute;
    top: 470px;
    left: 570px;
    padding-left: 27px;
}
